<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDFFileload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>176DFE6B1DB482E9006CA44E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176DFE841DB482EA006CA44E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>176DFE8F1DB482EA006CA44E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
